.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: monospace;
    color: white;
    margin: 0 0 3rem;
}

h1::after {
    content: "";
    display: block;
    height: .3rem;
    width: 100%;
    background-color: white;
    text-shadow: .4rem .4rem .2rem #333;
}


table {
    padding: 0;
    border: .3rem solid;
    border-color: #333;
    background-color: #333;
    border-radius: .3rem;
    width: 50%;
    box-shadow: .5rem .6rem .1rem #333;

    th,
    td {
        padding: .5rem;
        text-align: center;
    }

    th {
        font-size: large;
        font-weight: bold;
        background-color: #333;
        color: white;
        width: 10%;
    }

    td {
        width: calc(20% + 0%);
        background-color: white;
        transition: .5s ease-in;
    }

    .linha-cinza {
        background-color: #ccc7c7;
    }

    td:hover {
        transition: .5s ease-in;
        font-weight: bold;

    }


    .produto-nome {
        font-size: 1.2rem;
        font-weight: bold;
    }

}