.container {
    display: flex;
    width: 100%;
    height: 30rem;
    margin: 10rem 0 0;

    .titulo-logo,
    .titulo-img {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo-img {
        height: calc(100%-20%);
        width: calc(100%-20%);
    }

    .titulo-img img {
        height: calc(100%-20%);
        width: calc(100%-20%);
    }

    .titulo-logo {
        color: #333;
        font-size: 2rem;
        font-weight: bold;

        .titulo-text::after {
            content: "";
            display: block;
            height: .2rem;
            width: calc(100% - 50%);
            background-color: #333;
        }

        a {
            margin: 1rem 0;
            width: calc(100% - 50%);
            transition: .5s ease-in;
        }

        .btn:hover {

            a {
                transition: .5s ease-in;
                color: #333;
                width: 200%;
            }
        }
    }
}

a {
    transition: .5s ease-in;
    text-decoration: none;
    color: white;
}




.container-produtos {
    padding: 1rem 0;
    text-align: center;
    background-color: #333;
    width: 100%;
    position: relative;

    h1 {
        margin: 0 2rem 0;
        color: white;
        font-size: 3rem;
    }

    .produtos-titulo {

        .titulo-txt {
            h1::after {
                content: "";
                display: block;
                height: .2rem;
                width: 50%;
                background-color: white;
                justify-self: center;
            }
        }

        .titulo-switch {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: white;
                font-size: 2rem;
            }
            .escolhido {
                color: orange;
            }
            .escolhido::after {
                content: "";
                display: block;
                height: .2rem;
                width: 100%;
                transform: scaleX(1);
                background-color: white;
                transition: .2s ease-in-out;
            }


            .switch {
                margin: 2.5rem 1.5rem;
                background-color: #fff;

                .switch-opt {
                    background-color: #333;
                }
            }
        }


        .switch {
            display: flex;
            align-self: center;

        }
    }

    .container-cards {
        margin: 4rem 0 0;
        width: 100%;
        padding: .5rem 0;
        display: flex;
        justify-content: space-around;

        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 15%;
            height: 15rem;
            border-radius: .3rem;
            box-shadow: .5rem .5rem 1.7rem black;
            transition: .5s ease-in-out;

            h2 {
                color: white;
                font-size: 1rem;
                font-weight: lighter;
                margin: 0 0 1rem;
            }

            .img {
                width: 100%;
                height: 50%;
                background-color: #fff;
                height: 60%;
                border-radius: .3rem .3rem 0 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .produto-info {
                height: 55%;
                width: 100%;

                h2 {
                    background-color: gray;
                    width: 100%;
                    padding: .3rem 0;
                }
            }

            .btn {
                margin: 0 0 .5rem;
            }
        }

        .card:hover {
            transform: translate(0, -10%);
        }
    }

}