.titulo {
    animation: apaga 2s ease-in;
}

.newTitulo {
    transition: .4s ease-out;
    color: #333;
}

.animacao {
    width: 100%;
    display: flex;
    justify-content: center;
}

#span-animacao {
    color: #333;
    transition: 1s ease-out;
    animation: roda 2s ease-in;
    margin: 0 1rem 0 0;
}

@keyframes roda {
    50% {
        transform: translate(-700%, 0);
    }

    to {
        transform: translate(-0%, 0);
    }
}

@keyframes apaga {
    50% {
        color: #fff;

    }

    75% {
        color: #333;

    }

    to {
        color: #333;
    }
}