.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .voltar-home {
        position: absolute;
        z-index: 2;

        a {
            color: white;
        }

        a:hover {
            cursor: pointer;
        }
    }

    .titulo-txt {
        width: 100%;
        position: absolute;
        text-align: center;
        z-index: 1;

        h1 {
            font-size: 2rem;
            color: white;
            margin: 0 1rem 0;
        }


        h1:after {
            content: "";
            justify-self: center;
            display: block;
            background-color: white;
            width: calc(100% - 50%);
            height: .2rem;
            border-radius: .3rem;
            margin: 1rem;
            left: 0;
            position: relative;
        }
    }

    .container-login {
        display: flex;
        width: 50%;
        height: 70vh;
        background-color: #333;
        border: .1rem solid;
        border-color: #333;
        border-radius: .3rem;
        padding: 1rem;
        box-shadow: .3rem .3rem 1rem #000;
        position: absolute;


        .titulo {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;



            .titulo-img {
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;



                img {
                    height: 100%;
                }
            }
        }

        form {

            width: 50%;
            height: 50%;
            display: flex;
            align-self: center;
            justify-self: center;
            align-items: center;
            justify-content: center;

            position: relative;

            .container-cad {
                padding: 0 1rem 0 0;
            }
        }


        .input-label {
            margin: .2rem 0 1rem;

            input {
                background-color: transparent;
                border: .2rem solid;
                border-radius: .3rem;
                color: white;
                font-size: 1rem;
                padding: .2rem;
                width: calc(100% - 10%);
            }

            input:focus {
                border: .2rem solid;
                border-radius: .3rem;
            }

            .lbline {
                h2 {
                    color: orange;
                }
            }
        }

        .bnt-submit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: 1rem 0;
            position: absolute;
            bottom: 0;

            .btn {
                position: absolute;
                width: calc(100% - 40%);
            }
        }

        .redesociais:before {
            content: "";
            display: block;
            justify-self: center;
            background-color: orange;
            width: calc(100% - 50%);
            height: .2rem;
            border-radius: .3rem;
            margin: 1rem;
            left: 0;
            position: relative;
        }

        .redesociais {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: .7rem 0;

            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
            }

            li {
                transition: .3s ease;
                color: orange;
                opacity: .5;
            }

            li:hover {
                opacity: 1;
                cursor: pointer;
            }
        }


    }

    .aviso-span {
        position: absolute;
        bottom: 15%;
        left: 40%;
        padding: 0;
        z-index: 2;
    }
}

@media only screen and (max-device-width: 500px) {
    .container .container-login .titulo {
        width: 0%;
        display: none;
    }

    .container .container-login form {
        width: 100%;
    }
}